<!-- <div class="container">
  <div class="row text-center">
    <div class="col-md-4">
      <div class="card" style="width: 25rem">
        <h1 class="text-center"><%=username%></h1>
        <img src="./images/default-user.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <p class="card-text"></p>

          <form action="/Profile" method="POST">
            <input
              style="display: none"
              type="text"
              name="normal_user"
              value="normal_user"
            />
            <button type="submit" class="btn btn-primary btn-lg btn-block">
              DownGrade to a Normal User
            </button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <form action="/movies" method="POST">
        <h1 class="text-muted">Add a movie now</h1>
        <div>
          <label for="Title">Title</label>
          <input type="text" name="title" id="title" placeholder="Movie title"
          /required>
        </div>
        <div>
          <label for="Year">Year</label>
          <input type="text" name="Year" id="Year" placeholder="Release year"
          /required>
        </div>
        <div>
          <label for="Director">Director name</label>
          <input type="text" name="Director" id="Director"
          placeholder="Director" /required>
        </div>
        <div>
          <label for="Runtime">Runtime</label>
          <input type="text" name="Runtime" id="Runtime" placeholder="119min"
          /required>
        </div>
        <div>
          <label for="Actors">Actors</label>
          <input type="text" name="Actors" id="Actors" placeholder="Jeff homes,
          Steve Jobs" /required>
        </div>
        <div>
          <label for="Genres">Genres</label>
          <input type="text" name="Genres" id="Genres" placeholder="Family,
          Animation" /required>
        </div>
        <div>
          <label for="Rated">Rating</label>
          <input type="text" name="Rating" id="Rating" placeholder="TV-14"
          /required>
        </div>
        <div>
          <label for="Language">Language</label>
          <input type="text" name="Language" id="Language" placeholder="English"
          /required>
        </div>

        <div class="file-field">
          <div class="mb-4">
            <img
              src="https://mdbootstrap.com/img/Photos/Others/placeholder-avatar.jpg"
              class="rounded-circle z-depth-1-half avatar-pic"
              alt="example placeholder avatar"
            />
          </div>
          <div class="d-flex justify-content-center">
            <div class="btn btn-mdb-color btn-rounded float-left">
              <span>Add photo</span>
              <input type="file" />
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-2">This will have more stuff</div>
  </div>
</div> -->

<!-- <div class="card" style="width: 25rem">
  <h1 class="text-center"><%=username%></h1>
  <img src="./images/default-user.png" class="card-img-top" alt="..." />
  <div class="card-body">
    <p class="card-text"></p>

    <form action="/Profile" method="POST">
      <input
        style="display: none"
        type="text"
        name="contributing_user"
        value="contributing_user"
      />
      <button type="submit" class="btn btn-primary btn-lg btn-block">
        Become a Contributing User
      </button>
    </form>
  </div>
</div> -->

<!-- <ul class="nav justify-content-between">
  <li class="nav-item">
    <h1>User: <%=username%></h1>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="#">Logout</a>
  </li>
</ul> -->

<div class="container">
  <!-- This is the nav -->
  <ul class="nav justify-content-between bg-light align-items-center">
    <li class="nav-item">
      <h1>User: <%=username%></h1>
    </li>

    <div class="d-flex flex-row align-items-center">
      <form action="/Profile" method="POST">
        <input
          style="display: none"
          type="text"
          name="normal_user"
          value="normal_user"
        />
        <button type="submit" class="btn btn-success">Beta</button>
      </form>

      <li class="nav-item">
        <a class="nav-link" href="/Logout">Logout</a>
      </li>
    </div>
  </ul>

  <div class="my-4 row d-flex justify-content-center">
    <div style="">
      <form
        action="/movies"
        name="search-theme-form"
        id="search-theme-form"
        class="form-search text-center form-search-bigger"
      >
        <div class="form-group search-stuff">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <button
                id="dropdown-button"
                class="btn btn-outline-secondary dropdown-toggle"
                type="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Title
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#" onclick="changeToTitle()"
                  >Title</a
                >
                <a class="dropdown-item" href="#" onclick="changeToGenre()"
                  >Genre</a
                >
                <a class="dropdown-item" href="#" onclick="changeToYear()"
                  >Year</a
                >
                <a class="dropdown-item" href="#" onclick="changeToMinRating()"
                  >Minrating (0-5)</a
                >
                <a class="dropdown-item" href="#" onclick="changeToPeople()"
                  >People</a
                >
                <a class="dropdown-item" href="#" onclick="changeToUsers()"
                  >Users</a
                >
              </div>
            </div>
            <input
              type="text"
              type="text"
              id="texter"
              name="texter"
              value="Title"
            />
            <input
              id="searchTextBetter"
              name="search"
              type="text"
              class="form-control"
              aria-label="Text input with dropdown button"
              placeholder="Search..."
            />
          </div>
          <button type="submit" class="btn btn-primary search-button">
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="row text-center">
    <div class="col-md-4">
      <div class="creative-card bg-primary text-white">
        <h2>Following</h2>

        <ul class="list-group">
          <% for (var i=0; i < following.length; i++) { %>
          <form action="/users" id="my_form">
            <input
              style="display: none"
              type="text"
              name="search"
              id="search"
              value=<%=following[i]%>
            />

            <a
              id="search-link"
              class="list-group-item list-group-item-action list-group-item-light"
              href="javascript:{}"
              onclick="document.getElementById('my_form').submit(); return false;"
            >
              <%= following[i] %>
            </a>
          </form>

          <% } %>
        </ul>
      </div>
    </div>
    <div class="col-md-4">
      <div class="creative-card bg-info text-white">
        <h2>Followers</h2>
        <ul class="list-group">
          <% for (var i=0; i < followers.length; i++) { %>
          <form action="/users" id="my_form">
            <input
              style="display: none"
              type="text"
              name="search"
              id="search"
              value=<%=followers[i]%>
            />

            <a
              id="search-link"
              class="list-group-item list-group-item-action list-group-item-light"
              href="javascript:{}"
              onclick="document.getElementById('my_form').submit(); return false;"
            >
              <%= followers[i] %>
            </a>
          </form>

          <% } %>
        </ul>
      </div>
    </div>
    <div class="col-md-4">
      <div class="creative-card bg-success text-white">
        <h2>Movies for you</h2>
      </div>
    </div>
  </div>


  <!-- The add movie button -->
  <div class="text-center my-4">

    <div class="container">
      <a href="/add-movie" class="btn btn-dark" role="button" aria-pressed="true">Add movie</a>
      <a href="/add-person" class="btn btn-dark" role="button" aria-pressed="true">Add person</a>
    </div>

  </div>
  </div>
</div>
